/* grid controls start */

#gcont-wrapper{
    position: fixed;
    top: 40px;
    left: 10px;
    z-index: 1000;
    font-family: sans-serif;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 12px;
}

#gcont-wrapper select{ padding: 3px; }

#gcont-wrapper select option{ font-size: 11px; padding: 2px; }
#gcont-wrapper textarea{ font-size: 10px; font-family: monospace; }
#gcont_endis{
    background-color: #fff;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    width: 140px;
}

#gcont_endis:hover{
    cursor: pointer;
    text-decoration: underline;	
}

#gcont{
	border: 2px solid #ccc;
    padding: 10px;
    width: 370px;
    background: url("back50.png") top left transparent repeat;
}

.grid_size{
	height: 100px;
	width: 90px;
}
.contr{
	margin-top: 10px;
}
/* grid controls end */

/* grid start */
.grid{
    width: 994x;  
    position: absolute;
    top: 0px;
    z-index: 2;
    overflow: hidden;
    
}

.grid .cell{
    float: left;
    height: 20px;
    line-height: 20px;
    background: url("1pxwhite.png") top left repeat-x #99ccff;
}

.grid .cell.margin{
    width: 12px;
    opacity: .5;
    filter: alpha(opacity=50);
}

.grid .cell.body{
    width: 216px;
    opacity: .4;
    filter: alpha(opacity=40);
}

/* grid end */

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 12px;
    background-color: #fff;
    text-align: left;
    line-height: 20px;
    color: #000;
    letter-spacing: 0px;
    font-family: "Arial", "Helvetica", sans-serif;
}

a{
	text-decoration: none;
	color: #494949;
	border-bottom: 1px dashed #ccc;
}

a:hover{
    color: #000;
    border-bottom: 1px dotted #000;
}

img{
    display: block;
    border: 0px;
}

#grid_content{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
    margin: 40px 0px 20px auto;
    width: 960px;
}

#content_wrap{
    display: block;
    padding: 0px 12px 0px 12px;
    background-color: #fff;
    position: relative;
}

.img{
	margin-top: 20px;
	margin-bottom: 20px;
}

.img.left{
	float: left;
	margin-right: 24px;
}

.img.right{
    float: right;
    margin-left: 24px;
}

h1, h2, h3, h4, h5, h6, h7{ 
	padding-top: 20px;
}

.headings h1,.headings  h2,.headings  h3,.headings  h4,.headings  h5,.headings  h6,.headings  h7{ 
    padding-top: 0px;
}

.clear_all:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clear_all:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.column{
	float: left;
	width: 310px;
}
