
.page-magicgrid .content p{
	margin: 0px;
	padding: 0px;
	text-indent: 0px;
}

h1, h2, h3, h4, h5, h6,
ul, ol,
.page-magicgrid .content #grid_position .region-content ul,
.page-magicgrid .content #grid_position .region-content ol,
.page-magicgrid .content #grid_position .block ol,
.page-magicgrid .content #grid_position .block ul {
  margin: 0em 0!important;
  padding: 0 0 0 0!important;
  margin-left: 24px!important;
}

h1, h2, h3, h4, h5, h6{ margin-left: 0px!important; }

.page-magicgrid .content {
    margin-top: 0px;
}

#grid_wrap .text_row{
	margin-left: 12px;
}

#page-wrapper,
  #page-wrapper #content{
	position: inherit;
	}

#grid_position{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
	font-size: 12px;
	line-height: 20px;
	background-color: #ccc;
	overflow: hidden;
	z-index: 999;
	color: #000;
}

#grid_wrap{
	width: 960px;
	display: block;
	margin: 0px auto 0px auto;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: #fff;
	position: relative;
}

#top_border{
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
}

#bottom_border{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

.first_row .slide.left{ width: 296px; height: 200px; overflow: hidden; }
.first_row .slide.right{ width: 614px; height: 200px; overflow: hidden; }

.second_row .slide.left{ width: 296px; height: 200px; overflow: hidden; text-align: right; }
.second_row .slide.right{ width: 614px; height: 200px; overflow: hidden; }

.third_row .slide.left{ width: 614px; height: 400px; overflow: hidden; }
.third_row .slide.right{ width: 296px; height: 400px; overflow: hidden; }

.banner_row .slide.left{ width: 936px; height: 200px; overflow: hidden; }

.slide.left{ float: left; margin: 20px 12px 0px 12px; }
.slide.right{ float: right; margin: 20px 12px 0px 12px; }

.headings, .text_ul, .text_ol{ float: left; margin: 0px 12px 0px 12px;  width: 292px; }

.clear_all:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.clear_all:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* grid start */
.grid{
	width: 960px;
	height: 100%;	
	position: absolute;
	abackground: url("grid_lines/20.png") top left repeat transparent;
	top: 0px;
}

.grid .cell{
	float: left;
	height: 20px;
	line-height: 20px;
	background: url("1pxwhite.png") top left repeat-x #99ccff;
}

.grid .cell.body{
	width: 296px;
	opacity: .4;
	filter: alpha(opacity=40);
}

.grid .cell.margin{
	width: 12px;
	opacity: .5;
	filter: alpha(opacity=50);
}

/* grid end */

/* grid controls start */

#gcont{
	width: 300px;
	position: fixed;
	top: 30px;
	right: 0px;
	z-index: 1000;
}

/* grid controls end */

